$color-red : #e45324;

body {
  font-family: acumin-pro, sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

nav {
  background-color: $color-red;

  .icon-colorized {
    &:hover {
      color: rgb(209, 209, 209) !important;
    }
  }

  .burger-button {
    background-color: #e45324;
  }

  .logo {
    width: 50px;
    height: 50px;
  }
}

.section-3 {
  & .modified-column {
    width: 200px;
    height: 200px;
    position: relative;
  }

  & .modified-i-tag-1 {
    top: 1rem !important;
    left: -10rem !important;
  }

  & .modified-i-tag-2 {
    top: -5rem !important;
    left: -8rem !important;
  }

  & .modified-i-tag-3 {
    top: 4rem !important;
    left: -6rem !important;
  }

  & .modified-i-tag-4 {
    top: 3rem !important;
    left: -7rem !important;
  }

  & .modified-i-tag-5 {
    top: 2rem !important;
    left: -4rem !important;
  }

  & .modified-i-tag-6 {
    top: -2rem !important;
    left: -10rem !important;
  }

  & .modified-i-tag-7 {
    top: -1rem !important;
    left: -6rem !important;
  }

  & .modified-i-tag-8 {
    top: -1rem !important;
    left: -10rem !important;
  }

  & .modified-i-tag-9 {
    top: 1rem !important;
    left: -2rem !important;
  }

  & .modified-i-tag-10 {
    top: -4rem !important;
    left: -2rem !important;
  }

  & .modified-i-tag-11 {
    top: 1rem !important;
    left: -2rem !important;
  }

  & .modified-i-tag-12 {
    top: -1rem !important;
    left: -2rem !important;
  }

  & .modified-i-tag-13 {
    top: -3rem !important;
    left: -4rem !important;
  }

  & .modified-i-tag-14 {
    top: 1rem !important;
    left: -5rem !important;
  }

  & .modified-i-tag-15 {
    top: -4rem !important;
    left: -3rem !important;
  }

  & .modified-i-tag-16 {
    top: 1rem !important;
    left: -7rem !important;
  }

  & .modified-i-tag-17 {
    top: -1rem !important;
    left: -3rem !important;
  }

  & .first-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .mixed-icons-first {
    position: relative;
    top: 12px;
    left: 24px;
  }

  .mixed-icons-second {
    position: relative;
    top: 21px;
    left: 4px;
  }

  .mixed-icons-third {
    position: relative;
    top: 15px;
  }

  & > :nth-child(2) {
    background-color: #e07c62;
    min-height: 180px;

    & button {
      color: #e07c62;
      border: none;
      max-width: 200px;
      padding-top: 10px;
      padding-bottom: 10px;

      &:hover {
        background-color: rgb(233, 227, 227);
      }
    }
  }

  & > :nth-child(3) {
    background-color: #a8aeaa;
    min-height: 180px;

    & button {
      color: #a8aeaa;
      border: none;
      max-width: 200px;
      padding-top: 10px;
      padding-bottom: 10px;

      &:hover {
        background-color: rgb(233, 227, 227);
      }
    }
  }

  & > :nth-child(4) {
    background-color: #509bd7;
    min-height: 180px;

    & button {
      color: #A8AEAA;
      border: none;
      max-width: 220px;
      &:hover {
        background-color: rgb(233, 227, 227);
      }
    }
  }
}

.section-1 {
  opacity: 0.9;
  position: relative;
  height: 85%;

  &::before {
    content: "";
    background: url('https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?ixlib=rb-1.2.1&w=1000&q=80') no-repeat;
    opacity: 0.8;
    position: absolute;
    left: 0;
    width: 100%;
    height: 105%;
    z-index: 0;
    background-size: cover;
    background-position: center;
  }

  &:hover {
    opacity: 1;
  }

  & .section-1-h3 {
    padding-top: 30vh;
    opacity: 0.9;
    margin-bottom: 20px;
    font-weight: 800;
  }

  & form {
    background-color: rgb(209, 209, 209);
    opacity: 0.9;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    padding-bottom: 25px;

    & h5 {
      font-size: 1.1rem;
    }
  }

  & div {
    & button {
      background-color: $color-red;
      font-size: 1rem;
      border: none;

      &:hover {
        background-color: red;
      }
    }
  }

  & > div {
    width: 170px;
    margin: 50px auto;
    padding: 1rem 2rem;
    font-weight: 800;
    border-radius: 5px;
    border: none;
    z-index: 2;
    opacity: 0.9;
    background-color: #c7c8c7;

    &:hover {
      background-color: rgb(209, 215, 215);
    }
  }
}

.section-2 {
  & article {
    &i,
    & h6 {
      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}



footer {
  background-color: rgb(0, 0, 0);

  & p {
    font-size: 0.8rem;
  }

  & button {
    background-color: rgb(75, 73, 73);
    color: white;

    &:hover {
      background-color: gray;
    }
  }

  .logo {
    width: 50px;
    height: 50px;

    &:hover {
      transform: scale(1.2);
    }
  }

  & .footer-last-part {
    background-color: #1f1f1f;

    & p {
      font-size: 0.6rem;
    }
  }
}

@media (min-width: 768px) {
  .section-1 {
    & form {
      width: 50%;
    }
  }

  .section-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px;
    padding-left: 3%;
    padding-right: 3%;

    & > h6 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  .section-3 {
    & article {
      height: 225px !important;

      & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.4rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  .section-1 {
    & form {
      max-width: 750px;
    }
  }

  .section-2 {
    padding-right: 10%;
    padding-left: 10%;
    grid-gap: 85px;
    margin: 0 auto;
  }

  .section-3 {
    & article {
      height: 250px !important;
    }
  }
}
