// .section-1-container {
//   background: rgb(94,94,94);
//   background: radial-gradient(circle, rgba(94,94,94,1) 8%, rgba(2,0,36,1) 92%, rgba(48,48,50,1) 100%);
//   z-index: -2;
//   opacity: 0.9;
//   height: 85%;
// }

$color-red : #E45324;

body {
  font-family: acumin-pro,sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

nav {
  background-color: $color-red;
  .icon-colorized {
    &:hover {
      color: rgb(209, 209, 209) !important;
    }
  }

  .burger-button {
    background-color: #E45324;
  }
}

.section-1 {
  opacity: 0.9;
  position: relative;

  &::before {
    content: "";
    background: url('https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?ixlib=rb-1.2.1&w=1000&q=80') no-repeat;
    opacity: 0.8;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: cover;
    background-position: center;
  }
  &:hover {
    opacity: 1;
  }

  .section-1-h3 {
    padding-top: 30vh;
  }

  form {
    background-color: rgb(209, 209, 209);
    opacity: 0.9;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
  }

  fieldset {
    button {
      background-color: $color-red;
    }
  }

  
  >button {
    margin-top: 20px;
    height: 50px;
    font-weight: 800;
    margin-bottom: 15%;
    border-radius: 5px;
    border: none;
    z-index: 2;
    opacity: 0.9;
    &:hover {
      background-color: rgb(209, 215, 215);
    }
  }
}

.section-3 {
  .section-3-background {
    background-image: url('https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?ixlib=rb-1.2.1&w=1000&q=80');
    background-position: center;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .mixed-icons-first {
    position: relative;
    top: 12px;
    left: 24px;
  }

  .mixed-icons-second {
    position: relative;
    top: 21px;
    left: 4px;
  }

  .mixed-icons-third {
    position: relative;
    top: 15px;
  }

  .section-3-background-2 {
    background-image: url('https://images.unsplash.com/photo-1528495612343-9ca9f4a4de28?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80');
    background-position: center;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .section-3-background-3 {
    background-image: url('https://images.unsplash.com/photo-1530103862676-de8c9debad1d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-position: 25%;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &>:nth-child(1) {
    background-color:#E07C62;

    button {
      color: #E07C62;
      border: none;
    }
  }
  &>:nth-child(2) {
    background-color: #A8AEAA;

    button {
      color: #A8AEAA;
      border: none;
    }
  }
  &>:nth-child(3) {
    background-color:#509BD7;
  }
}

footer {
  background-color: rgb(0, 0, 0);
}

@media (min-width: 767px) {
  .section-1 {
    form {
      width: 50%;
    }
  }
  .section-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .section-2 {
    >h6 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  .section-3 {
    article {
      height: 275px;
      >div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
      }
    }

    %section-3-background-heights {
      height: 250px;
    }

    .section-3-background-2,
    .section-3-background,
    .section-3-background-3 {
      @extend %section-3-background-heights
    }
  }

  footer 
  >:nth-child(3) {
    font-size: 0.6rem;
  }
}